@font-face{
	font-family: Kano;
	src: url(../../fonts/linowrite.ttf) format('truetype');
}

body{
  background-image: url("../../images/img1opac.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 50;
	font-family: Kano;
	background-size: cover;
}
.main-app-pic{
	width: 100%;
	-webkit-clip-path: polygon(0 53%, 100% 23%, 100% 100%, 0% 100%);
	clip-path: polygon(0 53%, 100% 23%, 100% 100%, 0% 100%);
	position: relative;
	bottom:0px;
}

.navbar{
	margin:0;
	background: none;
	border: 0;
	font-size: 20px
}

.jumbotron-box{
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}
.info-blocks{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
.info-block{
	margin: 2em;
}
.dropdown-container{
	margin-left: 10em;
	margin-right: 10em;
}

.main-title-pic{
	height: 500px;
}
a{
	color: black;
	padding: 0;
	font-size: 20px
}
li{
	color: black;
	padding: 0;
	font-size: 20px
}
.btn-primary{
	background: none;
	color: black;
	border: none;
}
.btn-primary:hover{
	background: none;
	color: brown;
	border: none;
}
.btn-primary:active{
	background-color: #a5a0a4;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
	padding: 0;
	margin: 1em;
	display: block;
}
.dropdown-toggle{
	padding: 0;
}
.well{
	background-color: rgba(255, 255, 255, 0.30);
}
.main-info-text{
	font-size: 18px;
}
.caption{
	background-color: transparent;
}
.info-block.thumbnail{
	background-color: transparent;

}
