.navbar{
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}
.navbar-brand{
	margin: 0;
}
.info-link{
	margin: 1em;
	display: block;
}
.container{
	width: 100%;
	margin-left: 5em;
	margin-right: 5em;
}
