.info-table-1{
	margin: 4em;
}
.info-table-2{
	margin: 4em;
}
.info-table-3{
	margin: 4em;
}
.product-info-card{
	margin-top: 1em;
}
.panel-heading{
	font-size: 25px;
}
.panel-body{
	font-size: 20px;
}
.map-container{
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
