.info-table-1{
	margin: 4em;
}
.info-table-2{
	margin: 4em;
}
.info-table-3{
	margin: 4em;
}
.product-info-card{
	margin-top: 1em;
}

.panel-default{
	font-size: 25px;
}
.panel{
	background-color: rgba(255, 255, 255, 0.30);
}
.map-container{
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.panel-default>.panel-heading{
	background-color: rgba(152, 125, 125, 0.30);
}
.panel-title{
	font-size: 25px;
}
a{
	font-size: 25px;
}
.thumbnail{
	background-color: none;
	border: none;
}
